html{
	font-family:Helvetica,Arial;
	font-size:18px;
}

a {
	text-decoration: none;
}

body{
	background-color:#000;
	color:rgba(255,255,255,.8);
	/*opacity:.5;*/

}

h1{
	font-size: 2rem;
	font-weight: 800;
	text-align: center;
}

h2{
	font-size:1.5rem;
	font-weight: 100;
}

nav ul li{
	display:inline-block;
}

nav ul li a{
	background-color:#1099FF;
	display:inline-block;
	margin:20px 50px 20px 50px;
	color:white;
	padding: 20px;
	border:2px solid #1099FF;
	border-radius: 5px;
}

nav ul li:hover a{
	background-color:black;
	display:inline-block;
	margin:20px 50px 20px 50px;
	color:orange;
	border:2px solid black;
	border-radius: 5px;
	transition:background-color 1s color 1s;

}

nav ul{
	text-align:center;
	list-style-type: none;
	margin:0;
}

nav{
	background-color: white;
	position:fixed;
	width: 100%;
}

.banner{
	width:100%;
}

ul{
	text-align:center;
}
ul div {
	display: inline-block;
	list-style-type: none;
	margin:20;
}

.movie-table {
	border:1px solid white;
	width: 80%;
	margin: 100px auto 0 auto;
}

.movie-table tr th, .movie-table tr td {
	padding: 20px;
	border:1px solid white;
	text-align: center;
}

.column1 {
	width: 250px;
	color: #1099FF;
}

thead{
	color:orange;
}